/* =====================================================
   CATEGORIAS
   ===================================================== */

.categorias-banner {
    background: #2563eb;
    padding: 50px 60px;
    color: white;
}

.categorias-banner h2 {
    font-size: 32px;
    margin-bottom: 8px;
}

.categorias-banner p {
    font-size: 15px;
    color: #dbeafe;
}


/* =====================================================
   CONTEÚDO
   ===================================================== */

.categorias-conteudo {
    padding: 50px 60px;
}

.categorias-conteudo h2 {
    font-size: 28px;
    color: #1e293b;
    margin-bottom: 30px;
}


/* =====================================================
   CARDS
   ===================================================== */

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;

    box-shadow: 0 5px 15px rgba(0, 0, 0, .06);

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}


/* =====================================================
   IMAGEM
   ===================================================== */

.card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    margin-bottom: 15px;
}


/* =====================================================
   TEXTO
   ===================================================== */

.card h3 {
    color: #1e293b;
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    color: #64748b;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}


/* =====================================================
   BOTÃO
   ===================================================== */

.card button {
    border: none;
    background: #2563eb;
    color: white;

    padding: 10px 18px;
    border-radius: 8px;

    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    background: #1d4ed8;
}


/* =====================================================
   RESPONSIVO
   ===================================================== */

@media (max-width: 900px) {

    .categorias-banner {
        padding: 45px 30px;
    }

    .categorias-conteudo {
        padding: 40px 30px;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media (max-width: 600px) {

    .categorias-banner {
        padding: 40px 20px;
    }

    .categorias-banner h2 {
        font-size: 27px;
    }

    .categorias-conteudo {
        padding: 35px 20px;
    }

    .categorias-conteudo h2 {
        font-size: 24px;
    }

    .cards {
        grid-template-columns: 1fr;
    }

}